#title {
    font-size: 5rem;
    justify-content: center;
    display: flex;
    height: 150px;
}

.boards {
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 80px;
}

.topBoardContainer,
.bottomBoardContainer {
    width: 500px;
    height: 500px;
}

@keyframes rainbow {
    0% { background-color: #ff0000; }
    14% { background-color: #ff7f00; }
    28% { background-color: #ffff00; }
    42% { background-color: #00ff00; }
    57% { background-color: #0000ff; }
    71% { background-color: #4b0082; }
    85% { background-color: #8f00ff; }
    100% { background-color: #ff0000; }
  }
  
  .rainbow {
    animation: rainbow 5s infinite linear;
    opacity: .5;
  }