#title {
  font-size: 5rem;
  justify-content: center;
  display: flex;
  height: 150px;
  font-family: "Titan One", sans-serif;
  color: rgb(45, 203, 199);
}

.gameContainer {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 50vh;
}

.boards {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.pastMoves {
  grid-column: 7 / 9;
}

.topBoard,
.bottomBoard {
  padding: 10px;
}

.topBoard {
  grid-column: 1 / 2;
}

.bottomBoard {
  grid-column: 2 / 3;
}

.topBoardContainer,
.bottomBoardContainer {
  width: 80%;
}

@keyframes rainbow {
  0% {
    background-color: #ff0000;
  }
  14% {
    background-color: #ff7f00;
  }
  28% {
    background-color: #ffff00;
  }
  42% {
    background-color: #00ff00;
  }
  57% {
    background-color: #0000ff;
  }
  71% {
    background-color: #4b0082;
  }
  85% {
    background-color: #8f00ff;
  }
  100% {
    background-color: #ff0000;
  }
}

.rainbow {
  animation: rainbow 5s infinite linear;
  opacity: 0.5;
}

#PortalsTitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
  width: 100vw;
}

img {
  height: 200px;
}

#navBar {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 200px;
  padding-right: 200px;
}

#navBar > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

#navBar > div > button {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  margin: 10px;
  width: 150px;
  height: 60px;
  padding: 0px;
  background-color: black;
  color: rgb(45, 203, 199);
  border: 1px solid black;
  border-radius: 10px;
}

.signIn,
.signUp {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInContainer,
.signUpContainer {
  font-family: "Oswald", sans-serif;
  width: 375px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(139, 204, 202);
  border-radius: 30px;
  box-shadow: 4px 4px 8px #9073a7;
}

#signInForm,
#signUpForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: rgb(6, 12, 19);
  width: 375px;
  height: 450px;
}

#signUpForm > *,
#signInForm > * {
  margin: 10px;
}

#signInForm h1,
#signUpForm h1 {
  font-size: 3rem;
  padding-bottom: 0px;
}

#signInForm > label,
#signUpForm > label {
  font-size: 1.5rem;
}

form input[type="email"],
form input[type="password"] {
  width: 200px;
  border: 1px solid black;
  height: 25px;
  font-size: 1.1rem;
  border-radius: 5px;
}

form button[type="submit"] {
  height: 50px;
  width: 100px;
  background-color: black;
  color: rgb(45, 203, 199);
  font-size: 1.5rem;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}

#signUp,
#resetPassword,
.guestLogin,
#signIn {
  margin: 10px;
  width: 75px;
  height: 30px;
  padding: 0px;
  background-color: black;
  color: rgb(45, 203, 199);
  border: 1px solid black;
  border-radius: 10px;
}

.lobbyTitle {
  display: flex;
  justify-content: center;
  height: 120px;
  font-family: "Titan One", sans-serif;
  font-size: 4rem;
}

.buttons {
  display: flex;
  gap: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#createGame,
#joinGame {
  height: 60px;
  width: 120px;
  background-color: rgb(45, 203, 199);
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 8px #9073a7;
}

.idContainers {
  display: flex;
  justify-content: center;
  gap: 350px;
  height: 120px;
}

.playerIDContainer,
.currentTurnContainer {
  font-family: "Titan One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#viewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  position: relative;
}

/*account page*/

.accountContainer {
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  font-family: "Oswald", sans-serif;
}

.accountContainer > * {
  height: 80%;
  border-radius: 10px;
  background-color: rgb(197, 235, 233);
  box-shadow: 4px 4px 8px #818181;
  padding: 10px;
  font-size: 1.2rem;
}

.nameAndID {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.nameAndID * {
  height: 30px;
}

.gamesAndElo {
  grid-column: 2 / 3;
  overflow: auto;
  flex-direction: column;
  display: grid;
  grid-template-rows: repeat(8 1fr);
}

.elo {
  padding: 10px;
  margin-top: 10px;
  grid-row: 1 / 2;
}

.pastGamesContainer {
  padding: 15px;
  grid-row: 2 / 9;
  overflow-y: auto;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.pastGamesList {
  border: 1px solid green;
}

.friends {
  grid-column: 3 / 4;
  overflow-y: auto;
}

.addFriends {
  margin: 10px;
  width: 90px;
  height: 40px;
  padding: 0px;
  background-color: black;
  color: rgb(45, 203, 199);
  border: 1px solid black;
  border-radius: 10px;
}

.leaderBoardContainer {
  height: 50vh;
  border-radius: 10px;
  background-color: rgb(45, 203, 199);
  padding: 10px;
}

.leaderBoardContainer > h1 {
  font-family: "Titan One", sans-serif;
}
